<div class="form-control">
  <label for="bgColor">Page background color</label>
  <input type="text" id="bgColor" name="bgColor" value="{{#if prefill}}{{prefill.bgColor}}{{else}}{{prefs.theme.bgColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="primaryColor">Primary color</label>
  <input type="text" id="primaryColor" name="primaryColor" value="{{#if prefill}}{{prefill.primaryColor}}{{else}}{{prefs.theme.primaryColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="primaryColorText">Primary color text</label>
  <input type="text" id="primaryColorText" name="primaryColorText" value="{{#if prefill}}{{prefill.primaryColorText}}{{else}}{{prefs.theme.primaryColorText}}{{/if}}" />
</div>

<div class="form-control">
  <label for="outlineColor">Outline color</label>
  <input type="text" id="outlineColor" name="outlineColor" value="{{#if prefill}}{{prefill.outlineColor}}{{else}}{{prefs.theme.outlineColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="borderColor">Border color</label>
  <input type="text" id="borderColor" name="borderColor" value="{{#if prefill}}{{prefill.borderColor}}{{else}}{{prefs.theme.borderColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="textHeadingColor">Heading color</label>
  <input type="text" id="textHeadingColor" name="textHeadingColor" value="{{#if prefill}}{{prefill.textHeadingColor}}{{else}}{{prefs.theme.textHeadingColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="textColor">Text color</label>
  <input type="text" id="textColor" name="textColor" value="{{#if prefill}}{{prefill.textColor}}{{else}}{{prefs.theme.textColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="textMutedColor">Text muted color</label>
  <input type="text" id="textMutedColor" name="textMutedColor" value="{{#if prefill}}{{prefill.textMutedColor}}{{else}}{{prefs.theme.textMutedColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="successColor">Success color</label>
  <input type="text" id="successColor" name="successColor" value="{{#if prefill}}{{prefill.successColor}}{{else}}{{prefs.theme.successColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="errorColor">Error color</label>
  <input type="text" id="errorColor" name="errorColor" value="{{#if prefill}}{{prefill.errorColor}}{{else}}{{prefs.theme.errorColor}}{{/if}}" />
</div>

<div class="form-control">
  <label for="borderRadius">Border radius</label>
  <input type="text" id="borderRadius" name="borderRadius" value="{{#if prefill}}{{prefill.borderRadius}}{{else}}{{prefs.theme.borderRadius}}{{/if}}" />
</div>